        <h1>{{ photo.title }}</h1>
        <img src="{{ photo.photo.url_600x450|safe }}" class="photo-detail" />
        {{ photo.caption|linebreaks }}
        <ul class="inline notes">
            <li>Posted {{ photo.date|timesince }} ago.</li>
            <li><a href="{{ photo.photo.url|safe }}">Fullsize</a></li>
            <li><a href="{{ photo.get_absolute_url }}">Permalink</a></li>
        </ul>
        <iframe class="fb-like" src="http://www.facebook.com/plugins/like.php?href={{ photo.get_full_url|urlencode }}&amp;layout=standard&amp;show_faces=true&amp;width=450&amp;action=like&amp;colorscheme=light&amp;height=80" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:450px; height:80px; max-width: 100%" allowTransparency="true"></iframe>
