{% extends "base.html" %}
{% block title %}{{ year }} Archives | {{ block.super }}{% endblock %}
{% block body %}

    <ul class="crumbs">
        <li class="home"><a href="/">Home</a></li>
        <li><a href="{% url "photo_archive_index" %}">Archives</a></li>
        <li><a href="{% url "photo_year_archive" year %}">{{ year }}</a></li>
    </ul>
    
    <h2>Browsing {{ year }}:</h2>
    
    <div class="sidebar">
        <h2>Time Travel!:</h2>
        
        <p>You're browsing <strong>{{ year }}.</strong>
            Jump to a particular month:</p>
        
        <ul class="months">
            {% for month in date_list %}
                <li><a href="{% url "photo_month_archive" year month|date:"b" %}">{{ month|date:"F" }}</a></li>
            {% endfor %}
        </ul>

        </ul>
    </div>

    <ul class="squares yearSquares clearfix">
    {% for photo in photo_list reversed %}
        {% include "photos/square_snippet.html" %}
    {% endfor %}
    </ul>
        
{% endblock %}