{% extends "base.html" %}
{% block title %}Archives | {{ block.super }}{% endblock %}
{% block body %}

    <div class="sidebar">
        <h2>Time Travel!:</h2>
        <ul class="timeTravel">
        {% for month in date_list %}
            {% ifchanged month.year %}
                {% if not forloop.first %}
                </ul>
                {% endif %}
                <li><a href="{% url "photo_year_archive" month.year %}" class="year">{{ month|date:"Y" }}</a>
                <ul class="months">
                    <li><a href="{% url "photo_month_archive" month.year month|date:"b" %}">{{ month|date:"F" }}</a></li>
            {% else %}
                <li><a href="{% url "photo_month_archive" month.year month|date:"b" %}">{{ month|date:"F" }}</a></li>
            {% endifchanged %}
        {% endfor %}
        </ul>
        
    </div>
    
    <h2>Showing the latest {{ latest|length }} photos:</h2>

    {% if is_paginated and page_obj.number > 1 %}
        {% include "photos/pagination.html" %}
    {% endif %}

    
    {% for photo in latest %}
       
        <p>{{ photo.date|date:"l, F jS, Y" }}</p>
        {% include "photos/detail_snippet.html" %}
        
    {% endfor %}

    {% include "photos/pagination.html" %}
        
{% endblock %}